div {
	border-width: 1px;
	border-spacing: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	border-left: 0px;
	border-right: 0px;
}

body {
    background-color: #333333; /* grey */
}

#page {
    margin: 10px 100px;
    background-color: #CCCC77; /* tanned */
}

#header {
	background-color: #888844;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

#nav ul {
    background-color: #334499; /* blueish */
    list-style-type: none; /* remove the bullet points */
    margin: 0;
    padding: 10px;
}

#nav li {
    display: inline; /* make the list horizontal */
    padding: 20px;
}

.table-of-contents {
  float: right;
  width: 40%;
  background: #eee;
  font-size: 0.8em;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
}
.table-of-contents a {
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}
